.travel_mainDiv{
    border: 1px  solid rgba(252, 172, 0, 0.886);
}
.travel_mainDiv img{
width: 100%;
}
.travel_mainDiv h5, .travel_mainDiv p{
    margin: 20px;
}




#contact iframe
{
    width: 100%;
}
.movie_head{
font-size: 20px;
padding: 6px 22px;
border-radius: 10px;
margin-bottom: 15px;

}
.movie_head i{
float: right;
}
.movie_head span{
    color: rgb(239, 197, 105);
    }
    .books {
        margin-bottom: 20px;
    }